.language-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.language-menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}